<div class="modal-container">
    <ion-button class="rts-button button-close" (click)="dismissModal()">
        <ion-icon name="close" color="red"></ion-icon>
    </ion-button>
    <div class="title-container">
        <h1>Tutorial</h1>
    </div>

    <!-- SLIDE: 1. Show difficulties instructions -->
    <ng-template [ngIf]="activeIndex === 1" class="swiper-slide"  id="slideOne">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="/assets/tutorial/tutorial1.png">
                </div>
            </div>
        </div>
    </ng-template>
    <!-- SLIDE: 2. Show difficulties instructions -->
    <ng-template [ngIf]="activeIndex === 2" class="swiper-slide"  id="slideTwo">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="/assets/tutorial/tutorial2.png">
                </div>
            </div>
        </div>
    </ng-template>
    <!-- SLIDE: 3. Show obstacles -->
    <ng-template [ngIf]="activeIndex === 3" class="swiper-slide"  id="slideThree">
        <div class="container">
            <div class="col">
                <div class="row">
                    <div class="">
                        <img src="/assets/tutorial/tutorial3.png">
                    </div>
                </div>

            </div>
        </div>
    </ng-template>
    <!-- SLIDE: 4. Show power ups -->
    <ng-template [ngIf]="activeIndex === 4" class="swiper-slide"  id="slideFour">
        <div class="container">
            <div class="col">
                <div class="row">
                    <div class="">
                        <img src="/assets/tutorial/tutorial4.png">
                    </div>
                </div>

            </div>
        </div>
    </ng-template>
    <div class="buttons-container-intro">
        <ion-button *ngIf="activeIndex !== 1" class="rts-button" (click)="moveSlide(-1)">Previous</ion-button>
        <ion-button *ngIf="activeIndex !== 4" class="rts-button" (click)="moveSlide(1)">Next</ion-button>
    </div>
    </div>
