ion-icon {
  font-size: 5rem;
}

ion-button {
  width: 30%;

  --background: var(--rts-red);
  --background-activated: #9f1622;
}

.network-error {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.network-error-title {
  font-size: 1.3rem;
}
