<div class="modal-container">
    <div class="title-container">
        <h1>SELECT DIFFICULTY</h1>
    </div>
    <div class="buttons-container">
        <ion-button id="difficulty-easy" class="rts-button" fill="outline" mode="md" (click)="dismissModal(difficultEnum.EASY)">EASY</ion-button>
        <ion-button id="difficulty-medium" fill="outline" mode="md" (click)="dismissModal(difficultEnum.MEDIUM)">MEDIUM</ion-button>
        <ion-button id="difficulty-hard" fill="outline" mode="md" (click)="dismissModal(difficultEnum.HARD)">HARD</ion-button>
    </div>
</div>
