.buttons-container {
  display: flex;
  align-items: center;
  margin: 1rem 0 0 0;
  width: 100%;
  justify-content: space-between;
  padding: 0 2rem;
}
.title-container {
  display: flex;
  justify-content: center;
}
.title-container h1 {
  color: var(--gray-base);
  font-weight: bold;
}
.modal-container {
  height: 100%;
  border: 0.5rem solid var(--gray-base);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
