<div class="modal-container">
    <ion-button class="rts-button button-close" (click)="dismissModal()">
        <ion-icon name="close" color="red"></ion-icon>
    </ion-button>
    <div class="title-container">
        <h1>SELECT DIFFICULTY</h1>
    </div>
    <div class="buttons-container">
        <div class="container-points">
            <h6>Goal Points: {{levelDifficulties.easyWorld.maxPointsAchievable}}</h6>
            <ion-button id="difficulty-easy" class="rts-button" fill="outline" mode="md"
                (click)="dismissModal(difficultEnum.EASY)">EASY</ion-button>
        </div>
        <div class="container-points">
            <h6>Goal Points: {{levelDifficulties.midWorld.maxPointsAchievable}}</h6>
            <ion-button [disabled]="!difficulties[0].hasCompletedOnce" id="difficulty-medium" class="rts-button"
                fill="outline" mode="md" (click)="dismissModal(difficultEnum.MEDIUM)">MEDIUM</ion-button>
        </div>
        <div class="container-points">
            <h6>Goal Points: {{levelDifficulties.hardWorld.maxPointsAchievable}}</h6>
            <ion-button [disabled]="!difficulties[1].hasCompletedOnce" id="difficulty-hard" class="rts-button"
                fill="outline" mode="md" (click)="dismissModal(difficultEnum.HARD)">HARD</ion-button>
        </div>
    </div>
    <div class="endless-container">
        <div class="container-points">
            <ion-icon class="endless-icon" name="infinite" color="primary"></ion-icon>
            <ion-button id="endless" class="rts-button" fill="outline" mode="md"
                (click)="dismissModal(difficultEnum.ENDLESS)">ENDLESS MODE</ion-button>
        </div>
    </div>
    <div class="endless-container">
        <div class="container-points">
            <ion-icon class="endless-icon" name="cube" color="primary"></ion-icon>
            <ion-button id="endless" class="rts-button" fill="outline" mode="md"
                (click)="dismissModal(difficultEnum.SANDBOX)">SANDBOX MODE</ion-button>
        </div>
    </div>
</div>