
{
        "**/*.ts": [
            "eslint --fix"
        ],
        "**/*.html": [
            "eslint --fix"
        ],
        "**/*.scss": [
            "stylelint --fix"
        ],
        "**/*.css": [
            "stylelint --fix"
        ]
}
