/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/* Custom theme */
@import './theme/theme.scss';
@import './theme/custom.scss';

ion-modal {
  --border-radius: 1rem;
  .ion-page {
    overflow-y: auto;
  }
}
ion-button {
  --background: var(--rts-red);
  --background-activated: transparent;
  --background-focused: transparent;
}

ion-modal.difficult-modal {
  --height: 90vh;
  --width: 85vw;
}
ion-modal.tutorial-modal {
  --height: 90vh;
  --width: 90vw;
}

ion-button.rts-button-clear {
  --color-activated: var(--gray-base);
  --color-focused: var(--gray-base);
  --color-hover: var(--gray-base);
  --color: var(--rts-basic-white);
  text-decoration: underline;
  white-space: normal;
}

ion-button.rts-button {
  --background: var(--rts-red);
  --border-color: var(--rts-basic-white);
  --color: var(--rts-basic-white);
}
ion-button.ion-activated {
  --background: var(--rts-red);
}
ion-button.repo-button {
  --background: var(--repo-blue);
  --border-color: var(--rts-basic-white);
  --color: var(--rts-basic-white);
}
ion-button.rts-button > ion-icon {
  margin-right: 0.25rem;
}

ion-back-button {
  color: var(--rts-basic-white);
  text-decoration: underline;
}
