ion-menu {
  --width: 100%;
}

ion-menu-toggle > ion-button {
  font-size: 2rem;
}

ion-menu-toggle {
  padding-right: 2.25rem;
}

ion-toolbar {
  --background: var(--rts-red);
  --border-width: 0 !important;
}

div.transparent-toolbar {
  --background: --transparent;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

ion-content {
  --background: var(--rts-red);
}

ion-button.rts-button-clear {
  height: 100%;
  width: 100%;
}

ion-item {
  --background: transparent;
  --border-color: var(--rts-basic-white);
  --color: var(--rts-basic-white);
  --padding-start: 0;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 3rem auto;
  text-align: center;
  text-transform: uppercase;
}

.background-room {
  background-image: url('/assets/initial-room.png');
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}

.background-room-buttons {
  position: absolute;
  top: 12em;
  width: 50%;
  right: 0;
  text-align: center;
}

.stage-select {
  margin: auto;
}

ion-footer {
  --background: transparent;
}
