<ion-content class="no-scroll">
    <div class="background-room">
        <div class="background-room-buttons">
            <ion-row>
                <ion-col size="10" class="stage-select">
                    <ion-button expand="block" (click)="goTo(screensEnum.STAGE_SELECTION)">Stage Select</ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button size="small" (click)="signInGameServices()">Privacy Policy</ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button size="small" (click)="showLeaderboards()">Agreements</ion-button>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>
<!-- ! Important:  This is the ID that's required for phaser to run in the phaser instance service. -->
<div class="phaser" id="forge-main"></div>
