ion-toolbar {
  --background: var(--rts-red);
  --border-width: 0 !important;
  padding: 0 2.25rem;
}

ion-content {
  --background: var(--rts-red);
  height: 100%;
  width: 100%;
}

ion-title {
  color: var(--rts-basic-white);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin: 0;
  text-transform: uppercase;
}

ion-header > ion-button {
  text-decoration: underline;
}

.list-of-stages {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3rem;
  height: 100%;
  padding: 1rem 4rem;
  margin: 0 0 10rem;
}

.stage {
  align-self: start;
  position: relative;
  text-align: center;
}

.stage > img {
  height: 100%;
  width: 100%;
}

.stage > h6 {
  color: var(--rts-basic-white);
}

ion-badge {
  position: absolute;
  padding: 1.25rem 0.5rem;
  font-size: 1rem;
  border-radius: 50%;
  right: -1.563rem;
  top: -0.938rem;
  color: var(--rts-red);
  background: var(--rts-basic-white);
}

ion-icon {
  color: var(--gray-base);
}

ion-icon.is-completed {
  color: var(--rts-red);
}

.user-information-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.user-points {
  color: var(--rts-basic-white);
  font-size: 1.25rem;
  text-align: center;
}

.footer {
  background: var(--rts-red);
  position: fixed;
  width: 100%;
  color: var(--rts-basic-white);
  text-align: center;
  bottom: -0.0625;
}
