<ion-header mode="ios">
    <ion-toolbar mode="ios">
        <ion-back-button slot="start" color="rts-white" (click)="goTo(screensEnums.MAIN_MENU)">Back</ion-back-button>
        <ion-title>Stage Select</ion-title>
        <ion-button mode="ios" fill="clear" slot="end" color="rts-white" (click)="goTo(screensEnums.LEADERBOARDS)">Leaderboard</ion-button>
    </ion-toolbar>
</ion-header>

<ion-content class="no-scroll">
    <div class="list-of-stages" *ngIf="progression">
        <div class="stage" (click)="selectLevel(levelsEnum.DAYTIME)">
            <ion-badge mode="ios">
                <ion-icon name="star" [ngClass]="{ 'is-completed': progression[0].hasCompletedOnce }"></ion-icon>
                <ion-icon name="star" [ngClass]="{ 'is-completed': progression[1].hasCompletedOnce }"></ion-icon>
                <ion-icon name="star" [ngClass]="{ 'is-completed': progression[2].hasCompletedOnce }"></ion-icon>
            </ion-badge>
            <img [src]="'/assets/stages/stage1.png'" alt="image_stage_1" />
        </div>
        <div class="stage" (click)="allPointsEarned > 1000 && progression[2].hasCompletedOnce ? null : selectLevel(levelsEnum.SUNSET)">
            <ion-badge mode="ios">
                <ion-icon name="star" [ngClass]="{ 'is-completed': progression[3].hasCompletedOnce }"></ion-icon>
                <ion-icon name="star" [ngClass]="{ 'is-completed': progression[4].hasCompletedOnce }"></ion-icon>
                <ion-icon name="star" [ngClass]="{ 'is-completed': progression[5].hasCompletedOnce }"></ion-icon>
            </ion-badge>
            <img
                [ngClass]="{ 'is-selectable': allPointsEarned > 1000 && progression[2].hasCompletedOnce }"
                [src]="allPointsEarned > 1000 && progression[2].hasCompletedOnce ? '/assets/stages/stage2.png' : '/assets/stages/stage2locked.png'"
                alt="image_stage_2"
            />
            <h6>Unlock at 1,000 Points</h6>
        </div>
        <div class="stage" (click)="allPointsEarned > 2000 && progression[5].hasCompletedOnce ? null : selectLevel(levelsEnum.NIGHT)">
            <ion-badge mode="ios">
                <ion-icon name="star" [ngClass]="{ 'is-completed': progression[6].hasCompletedOnce }"></ion-icon>
                <ion-icon name="star" [ngClass]="{ 'is-completed': progression[7].hasCompletedOnce }"></ion-icon>
                <ion-icon name="star" [ngClass]="{ 'is-completed': progression[8].hasCompletedOnce }"></ion-icon>
            </ion-badge>
            <img
                [ngClass]="{ 'is-selectable': allPointsEarned > 2000 && progression[5].hasCompletedOnce }"
                [src]="allPointsEarned > 2000 && progression[5].hasCompletedOnce ? '/assets/stages/stage3.png' : '/assets/stages/stage3locked.png'"
                alt="image_stage_3"
            />
            <h6>Unlock at 2,000 Points</h6>
        </div>
        <div class="stage" (click)="allPointsEarned > 3000 && progression[8].hasCompletedOnce ? null : selectLevel(levelsEnum.KELLY_DRIVE)">
            <ion-badge mode="ios">
                <ion-icon name="star" [ngClass]="{ 'is-completed': progression[9].hasCompletedOnce }"></ion-icon>
                <ion-icon name="star" [ngClass]="{ 'is-completed': progression[10].hasCompletedOnce }"></ion-icon>
                <ion-icon name="star" [ngClass]="{ 'is-completed': progression[11].hasCompletedOnce }"></ion-icon>
            </ion-badge>
            <img
                [ngClass]="{ 'is-selectable': allPointsEarned > 3000 && progression[8].hasCompletedOnce }"
                [src]="allPointsEarned > 3000 && progression[8].hasCompletedOnce ? '/assets/stages/stage4.png' : '/assets/stages/stage4locked.png'"
                alt="image_stage_4"
            />
            <h6>Unlock at 3,000 Points</h6>
        </div>
        <div class="stage" (click)="allPointsEarned > 4000 && progression[11].hasCompletedOnce ? null : selectLevel(levelsEnum.RITTEN_HOUSE)">
            <ion-badge mode="ios">
                <ion-icon name="star" [ngClass]="{ 'is-completed': progression[12].hasCompletedOnce }"></ion-icon>
                <ion-icon name="star" [ngClass]="{ 'is-completed': progression[13].hasCompletedOnce }"></ion-icon>
                <ion-icon name="star" [ngClass]="{ 'is-completed': progression[14].hasCompletedOnce }"></ion-icon>
            </ion-badge>
            <img
                [ngClass]="{ 'is-selectable': allPointsEarned > 4000 && progression[11].hasCompletedOnce }"
                [src]="allPointsEarned > 4000 && progression[11].hasCompletedOnce ? '/assets/stages/stage5.png' : '/assets/stages/stage5locked.png'"
                alt="image_stage_5"
            />
            <h6>Unlock at 4,000 Points</h6>
        </div>
        <div class="stage" (click)="allPointsEarned > 105000 && progression[14].hasCompletedOnce ? null : selectLevel(levelsEnum.CHINA_TOWN)">
            <ion-badge mode="ios">
                <ion-icon name="star" [ngClass]="{ 'is-completed': progression[15].hasCompletedOnce }"></ion-icon>
                <ion-icon name="star" [ngClass]="{ 'is-completed': progression[16].hasCompletedOnce }"></ion-icon>
                <ion-icon name="star" [ngClass]="{ 'is-completed': progression[17].hasCompletedOnce }"></ion-icon>
            </ion-badge>
            <img
                [ngClass]="{ 'is-selectable': allPointsEarned > 105000 && progression[14].hasCompletedOnce }"
                [src]="allPointsEarned > 135000 && progression[14].hasCompletedOnce ? '/assets/stages/stage6.png' : '/assets/stages/stage6locked.png'"
                alt="image_stage_6"
            />
            <h6>Unlock at 10,000 Points</h6>
        </div>
    </div>
</ion-content>
<ion-footer mode="ios">
    <div class="user-information-container">
        <h2 class="user-points">Current Points: <strong>{{ allPointsEarned | number:'1.0':'en-US' }}</strong></h2>
    </div>
</ion-footer>
