.win-state {
  align-items: center;
  background: url('/assets/background/win-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.endless-state {
  align-items: center;
  background: url('/assets/background/win-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.lose-state {
  background: url('/assets/background/lose-background.jpg');
  background-size: cover;
  height: 100%;
}

.point-alignment {
  position: relative;
  width: 100%;
}

p.win-points {
  position: absolute;
  font-size: 1.5rem;
  right: 30vw;
  bottom: -8vh;
  color: var(--rts-basic-white);
}

.navigation-options {
  bottom: 2rem;
  position: absolute;
  right: 2rem;
}
