.result-screen {
  height: 100%;
}
.all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-buttons {
  background: var(--rts-red);
  border: 0.2rem solid var(--gray-base);
  color: white;
  width: 55%;
  display: flex;
  position: absolute;
  right: 5%;
  top: 5%;
  height: 20%;
  justify-content: space-around;
  font-size: 3rem;
}
.container-buttons .div-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.div-button ion-icon {
  margin: 0 0.5rem 0 0;
}
.win-background {
  background: url('/assets/background/win_background.png') center;
  background-size: cover;
}
.loose-background {
  background: url('/assets/background/loose_background.png');
  background-size: cover;
}
.win-points {
  position: absolute;
  font-size: 3rem;
  margin: 0 0 0 33%;
}
